html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  position: relative;
  background: #a7e1ff;
}

/* reusable elements */

.button {
  width: 233px;
  height: 51px;
  background: #70cb0e;
  border-style: none;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 135px;
}

.button:hover,
.button:focus {
  transition: 0.4s;
  opacity: 0.7;
  cursor: pointer;
}

.button:active {
  opacity: 1;
  border-style: none;
  background: #5fac0c;
  cursor: pointer;
}

/* header styles start */

.header {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  padding-top: 12px;
  margin-bottom: 7px;
}

.header__logo {
  margin-right: 57px;
}

.header__nav {
  margin-top: 18px;
  width: 409px;
}

.header__nav_mobile {
  display: none;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header__nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.header__nav-activelink {
  pointer-events: none;
  -webkit-text-stroke: 1px #70cb0e;
}

.header__nav-link:hover,
.header__nav-link:focus {
  transition: 0.4s;
  opacity: 0.7;
  color: grey;
}

.header__nav-link:active {
  transition: 0.4s;
  -webkit-text-stroke: 1px #70cb0e;
}

.page-heading {
  position: absolute;
  margin: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* header responsive 640px*/

@media screen and (max-width: 640px) {
  .header {
    margin-left: 3%;
  }

  .header__logo {
    margin-right: 8.1%;
  }
}

/* header responsive 320px*/

@media screen and (min-width: 320px) and (max-width: 639px) {
  .header__logo {
    margin-left: 0;
  }

  .header__nav {
    display: none;
  }

  .header__nav_mobile {
    display: block;
    position: absolute;
    top: 28px;
    right: 10px;
  }

  .header__nav_mobile:hover,
  .header__nav_mobile:focus {
    transition: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
  }
}

/* header styles end */

/* map styles start */
.map-wrapper {
  margin: 0 auto;
  height: 930px;
  position: relative;
  overflow-x: hidden;
}

.map {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  height: 845px;
  background: url("../../assets/images/map.png") center no-repeat;
  background-position: top 100px left 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.map__text {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  position: absolute;
}

.map__usa {
  top: 56.3%;
  left: 17.4%;
}

.map__edrc {
  width: 65px;
  top: 74%;
  left: 44%;
}

.map__china {
  top: 58%;
  left: 71.9%;
}

.map__geomark-alligator,
.map__geomark-eagle,
.map__geomark-gorilla,
.map__geomark-panda {
  position: absolute;
}

.map__geomark-alligator_small,
.map__geomark-eagle_small,
.map__geomark-gorilla_small,
.map__geomark-panda_small {
  display: none;
  position: absolute;
}

.map__geomark-eagle {
  top: 58.2%;
  left: 12.5%;
}

.map__geomark-alligator {
  top: 58.7%;
  left: 23.3%;
}

.map__geomark-gorilla {
  top: 72%;
  left: 53.4%;
}
.map__geomark-panda {
  top: 58.9%;
  left: 76.6%;
}

.map__element-eagle {
  position: absolute;
  top: 58.7%;
  left: 1.8%;
}

.map__element-alligator {
  position: absolute;
  top: 60%;
  left: 26%;
}

.map__element-gorilla {
  position: absolute;
  top: 71.5%;
  left: 56.5%;
}

.map__element-panda {
  position: absolute;
  top: 60.2%;
  left: 79.5%;
}

.map__animal-wrapper {
  max-width: 160px;
  display: flex;
  align-items: center;
}
.map__animal-name {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}

.map__animal-name-panda {
  width: 50px;
}

.map__animal-img {
  position: relative;
  width: 64px;
  height: 64px; /* Ширина и высота */
  border-radius: 50%; /* Превращаем в круг */
  border: 2px solid #fff;
  margin-right: 8px;
}

.map__animal-img:hover {
  border: 2px solid #70cb0e;
}

.map__animal-img .map__animal-tooltip {
  visibility: hidden;
  width: 100px;
  height: 45px;
  background-color: #70cb0e;
  color: #000;
  text-align: center;
  padding: 4px 4px;
  position: absolute;
  top: 8.5px;
  left: 70px;
  z-index: 1;
}

.map__animal-img .map__animal-tooltip-eagle {
  width: 120px;
}

.map__animal-tooltip::before {
  content: "";
  position: absolute; /* Абсолютное позиционирование */
  right: 100px;
  top: 14px; /* Положение треугольника */
  border: 8px solid transparent; /* Прозрачные границы */
  border-right: 8px solid #70cb0e; /* Добавляем треугольник */
}

.map__animal-tooltip-eagle::before {
  right: 120px;
}

.map__animal-img:hover .map__animal-tooltip {
  visibility: visible;
}

.map__animal-tooltip_mobile {
  display: none;
  width: 169px;
  height: 100px;
  background-color: #70cb0e;
  color: #000;
  text-align: center;
  padding: 6px 4px;
  position: absolute;
  top: -20px;
  left: 70px;
  z-index: 1;
}

.tooltip-heading,
.tooltip-content {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.tooltip-heading {
  text-transform: uppercase;
  margin-bottom: 4px;
}

.tooltip-content {
  margin-bottom: 4px;
}

.tooltip-button {
  width: 147px;
  height: 40px;
  left: calc(50% - 147px / 2);
  top: 53px;
  border: none;
  background: #ffb600;
  border-radius: 30px;
  font-size: 18px;
  line-height: 21px;
}

.tooltip-button::before {
  content: "";
  position: absolute; /* Абсолютное позиционирование */
  left: -12px;
  top: 45px; /* Положение треугольника */
  border: 4px solid transparent; /* Прозрачные границы */
  border-right: 10px solid #70cb0e; /* Добавляем треугольник */
}

.map__animal-img-eagle {
  background: url(../../assets/images/map-eagle-full.jpg) no-repeat 0px -15px;
  background-size: auto 110px;
  margin-right: 0;
  margin-left: 8px;
}
.map__animal-img-alligator {
  background: url(../../assets/images/map-alligator-full.jpg) no-repeat -10px -8px;
  background-size: auto 80px;
}
.map__animal-img-gorilla {
  background: url(../../assets/images/map-gorilla-full.jpg) no-repeat -25px -5px;
  background-size: auto 80px;
}
.map__animal-img-panda {
  background: url(../../assets/images/map-panda-full.jpg) no-repeat -8px -15px;
  background-size: auto 110px;
}

/* map zoom buttons */
.map-zoom {
  bottom: 100px;
  position: sticky;
}

.map-zoom__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: calc(100% - 52px);

  width: 32px;
  height: 80px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  position: absolute;
  bottom: 85px;
}

.map-zoom__minus:hover,
.map-zoom__minus:focus {
  transition: 0.4s;
  opacity: 0.8;
}

.map-zoom__plus:hover,
.map-zoom__plus:focus {
  transition: 0.4s;
  opacity: 0.8;
}

/* map responsive 1200px */
@media screen and (max-width: 1200px) {
  .map__element-eagle {
    top: 58.3%;
    left: 1.7%;
  }

  .map__element-alligator {
    top: 59.5%;
    left: 26%;
  }

  .map__element-panda {
    top: 59.7%;
    left: 79.5%;
  }

  /* .map__animal-img:hover .map__animal-tooltip {
    visibility: hidden;
  } */
}

/* map responsive 640px */
@media screen and (max-width: 640px) {
  .map-wrapper {
    height: 785px;
  }

  .map {
    height: 100%;
    background-size: auto 600px;
  }

  .map__usa {
    top: 51%;
    left: 23.5%;
  }

  .map__edrc {
    top: 67.3%;
  }

  .map__china {
    top: 53.2%;
    left: 67%;
  }

  .map__geomark-alligator,
  .map__geomark-eagle,
  .map__geomark-gorilla,
  .map__geomark-panda {
    display: none;
  }

  .map__geomark-alligator_small,
  .map__geomark-eagle_small,
  .map__geomark-gorilla_small,
  .map__geomark-panda_small {
    display: block;
  }

  .map__geomark-eagle_small {
    top: 58.2%;
    left: 12.5%;
  }

  .map__geomark-alligator_small {
    top: 53.5%;
    left: 28.5%;
  }

  .map__geomark-gorilla_small {
    top: 65%;
    left: 52.7%;
  }
  .map__geomark-panda_small {
    top: 53.6%;
    left: 71.3%;
  }

  .map__element-alligator {
    top: 52.5%;
    left: 31%;
  }

  .map__element-gorilla {
    top: 62.5%;
    left: 55.1%;
  }

  .map__element-panda {
    top: 52%;
    left: 73.5%;
  }

  .map__animal-img:hover .map__animal-tooltip_mobile {
    display: block;
  }
}

/* map responsive 320px */
@media screen and (max-width: 320px) {
  .map-wrapper {
    height: 785px;
  }

  .map {
    height: 100%;
    background-position-x: 102%;
    background-size: auto 600px;
  }

  .map__geomark-alligator_small {
    top: 53.4%;
    left: 38.8%;
  }

  .map__geomark-gorilla_small {
    left: 62.8%;
  }

  .map__element-alligator {
    left: 41.3%;
  }

  .map__element-gorilla {
    left: 70%;
  }

  .map__edrc {
    top: 67.5%;
    left: 54.2%;
  }
}

/* map styles end */

/* footer styles start */

.footer {
  background: url(../../assets/images/footer-background.png) no-repeat center;
  background-position: top -3px left 9px;
  height: 285px;
  width: 100%;
  position: absolute;
}

.footer__background {
  position: absolute;
  bottom: 0;
  background-color: #dff5b0;
  height: 270px;
  width: 100%;
}

.footer__wrapper {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}

.footer__content {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1ft);
  row-gap: 64px;
}

.footer__logo {
  width: 100%;
  cursor: pointer;
}

.footer__logo-container {
  width: 98px;
  height: 50px;
}

.footer__button-container {
  margin-left: -31.5%;
}

.footer__button {
  margin: 0;
  width: 230px;
}

.footer__nav {
  padding-left: 3.5%;
  padding-right: 8%;
}

.footer__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  height: 57px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__menu-element:first-child {
  padding-bottom: 15px;
  padding-right: 121px;
}
.footer__menu-element:last-child {
  padding-top: 15px;
}

.footer__menu-link {
  transition: 0.4s;
  text-decoration: none;
  color: #000;
}

.footer__menu-link:hover,
.footer__menu-link:focus {
  transition: 0.4s;
  color: #5fac0c;
}

.footer__menu-link:active {
  transition: 0.2s;
  color: #396806;
}

.footer__social {
  justify-self: end;
  width: 190px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.footer__social-ico {
  cursor: pointer;
  width: 40px;
  transition: 0.4s;
}

.footer__social-ico:hover,
.footer__social-ico:focus {
  transition: 0.4s;
  transform: scale(1.1);
}

.footer__logo-yem {
  margin-left: -32%;
}

.footer__copyright {
  margin-left: -71.5%;
}

.footer__copyright,
.footer__author {
  padding-top: 29px;
  font-size: 18px;
  line-height: 21px;
}

.footer__author {
  justify-self: end;
}

/* footer responsive 1200px */
@media screen and (max-width: 1200px) {
  .footer {
    background-position: top 6px left 8px;
    background-size: contain;
  }
}

/* footer responsive 640px */
@media screen and (min-width: 640px) and (max-width: 1000px) {
  .footer {
    height: 374px;
    background-position: top 8px left 15px;
    background-size: contain;
  }

  .footer__background {
    height: 359px;
  }

  .footer__wrapper {
    max-width: 600px;
  }

  .footer__content {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }

  .footer__nav .footer__menu-element {
    margin: 0;
    padding: 0;
  }

  .footer__nav {
    padding: 0;
    margin-left: -21%;
  }

  .footer__menu-element:nth-child(even) {
    padding-top: 6.2%;
  }

  .footer__menu-element:nth-child(3) {
    padding-left: 2%;
  }

  .footer__menu-element:last-child {
    padding-left: 2%;
  }

  .footer__logo-yem {
    margin-left: 10%;
  }

  .footer__button-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    margin: 0;
  }

  .footer__button {
    width: 207px;
  }

  .footer__copyright {
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    justify-self: center;
    margin-top: -6.5%;
  }

  .footer__author {
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    justify-self: center;
    margin-top: -0.5%;
  }
}

/* footer responsive 320-639px */
@media screen and (min-width: 320px) and (max-width: 639px) {
  .footer {
    height: 757px;
    background-position: top 9px left 2px;
    background-size: contain;
  }

  .footer__background {
    height: 742px;
  }

  .footer__wrapper {
    max-width: 320px;
  }

  .footer__content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    justify-content: center;
  }

  .footer__nav .footer__menu-element {
    margin: 0;
  }

  .footer__content * {
    justify-self: center;
    margin: 0;
    text-align: center;
  }

  .footer__logo-container {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer__nav {
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer__menu {
    height: 100%;
  }

  .footer__menu-element {
    padding-top: 15px;
  }

  .footer__menu-element:first-child {
    padding: 0;
  }

  .footer__button-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }

  .footer__button {
    width: 207px;
  }

  .footer__social {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .schools__logo-wrapper1 {
    justify-self: left;
    margin-left: 10px;
  }

  .schools__logo-wrapper2 {
    justify-self: right;
    margin-right: 10px;
  }

  .footer__copyright {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    max-width: 205px;
    margin-top: -68px;
  }

  .footer__copyright-and {
    display: block;
    position: absolute;
    visibility: hidden;
  }

  .footer__author {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    margin-top: -34px;
  }
}
/* __________________ */

.map-wrapper {
  height: 930px;
}

@media screen and (max-width: 640px) {
  .map-wrapper {
    height: 785px;
  }
}
