html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  text-align: center;
  position: relative;
}

@font-face {
  font-family: SceneW01-Black;
  src: url(../../assets/fonts/scenew01.ttf);
}

.page-heading {
  position: absolute;
  margin: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.pagenotfound {
  max-width: 675px;
  margin: 0 auto;
  padding-top: 190px;
}

.pagenotfound__wrapper {
  height: 558px;
  background: url("../../assets/images/pagenotfound.png") center no-repeat;
  background-size: 100%;
  margin-bottom: 30px;
}

.pagenotfound__text {
  margin: 0;
  padding-top: 6px;
  padding-right: 12px;
  font-family: SceneW01-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 99px;
  line-height: 125px;
  text-align: center;
  color: #fff;
}

.pagenotfound__header {
  margin: 0;
  text-transform: uppercase;

  font-size: 70px;
  line-height: 70px;
  color: #333333;
  margin-bottom: 20px;
}

.pagenotfound__caption {
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: #59c3fb;
  transition: 0.4s;
}

.pagenotfound__caption:hover,
.pagenotfound__caption:focus {
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {

  .pagenotfound {
      padding-top: 50px;
    }
  
  .pagenotfound__wrapper {
    margin-bottom: 32px;
  }

  .pagenotfound__text {
    padding-top: 1.2%;
  }

  .pagenotfound__header {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 640px) {
  .pagenotfound {
    padding-top: 110px;
    position: relative;
  }
  
  .pagenotfound__wrapper {
    background-position: top;
    position: absolute;
    width: 86%;
    left: 50%;
    transform: translate(-50%);
  }

  .pagenotfound__text {
    padding-top: 0;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    font-size: 12.5vw;
    line-height: 100%;
  }

  .pagenotfound__header {
    margin: 0;
    position: absolute;
    top: 92vw;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    font-size: 11vw;
  }

  .pagenotfound__caption {
    margin: 0;
    position: absolute;
    top: 104.7vw;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    font-size: 3.1vw;
  }
}

@media screen and (max-width: 320px) {
  .pagenotfound {
    padding-top: 135px;
    position: relative;
  }
  
  .pagenotfound__wrapper {
    background-position: top;
    position: absolute;
    width: 82%;
    left: 50%;
    transform: translate(-50%);
  }

  .pagenotfound__text {
    padding-top: 0;
    padding-right: 0;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    font-size: 12.5vw;
    line-height: 100%;
  }

  .pagenotfound__header {
    margin: 0;
    position: absolute;
    top: 109vw;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    font-size: 12vw;
    letter-spacing: 0.5px;
  }

  .pagenotfound__caption {
    margin: 0;
    position: absolute;
    top: 129.5vw;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    font-size: 5vw;
  }
}
