header {
  display: flex;
  /*justify-content: flex-end;*/
  background-color: bisque;
}

.sidebar-menu {
  /*position: absolute;*/
  /*left: 0;*/
}

.sidebar-menu__list {
  list-style: none;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: navajowhite;
  /*opacity: 0.8;*/
  height: 100vh;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-menu__overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
}

.btn-menu {
  justify-self: flex-start;
  font-weight: bold;
  font-size: large;
  /*background: url("../../../public/menu-icon.png") center no-repeat;*/
  height: 35px;
  /*margin-left: 200px;*/
}

.btn-menu-open {
  background: url("../../../public/menu-open.png") center no-repeat;
  background-size: contain;
  margin: 0 30px 0 200px;
  /*margin-left: 200px;*/
}

.btn-menu-close {
  background: url("../../../public/menu-close.png") center no-repeat;
  background-size: contain;
  margin-left: 220px;
  margin-top: 15px;
}

.site-title {
  font-size: 25px;
}

.active {
  color: indianred;
  pointer-events: none;
}

.active:hover {
  color: red;
}

/*game mode switch*/
.game-mode-switch {
  position: absolute;
  margin: 0 30px;
  display: inline-block;
  width: 90px;
  height: 34px;
  right: 20px;
}

.game-mode-switch input {display:none;}

.game-mode-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5e9ce5;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.game-mode-switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.game-mode-switch__input:checked + .game-mode-switch__slider {
  background-color: #2ab934;
}

.game-mode-switch__input:focus + .game-mode-switch__slider {
  box-shadow: 0 0 1px #2196F3;
}

.game-mode-switch__input:checked + .game-mode-switch__slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*.play*/
/*{*/
/*  display: none;*/
/*}*/

.play, .train
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  /*left: 50%;*/
  font-size: 14px;
  /*font-family: Verdana, sans-serif;*/
}

.play {
  display: none;
  left: 30%
}

.train {
  left: 70%
}

.game-mode-switch__input:checked + .game-mode-switch__slider .play {
  display: block;
}

.game-mode-switch__input:checked + .game-mode-switch__slider .train {
  display: none;
}
