*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  //font-family: 'Otomanopee One', sans-serif;
  //font-family: Arial, Helvetica, sans-serif;
  font-family: 'Exo 2', sans-serif;
  //background: url("../public/img/pattern-train1.svg");
}

.body_play {
  background-color: rgba(42, 185, 52, 0.3);
}

.body_train {
  //background-color: rgba(94, 156, 229, 0.3);
}
