.control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*height: 35px;*/
}

.control-panel__heading {
  display: block;
  margin-left: 10vw;
  font-size: 18px;
  /*background-color: cornflowerblue;*/
  /*width: 150px;*/
  /*height: 30px;*/
}

/*.btn-play,*/
.btn-repeat {
  justify-self: end;
}

.control-panel__points {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 50vw;
  /*height: 10px;*/
  /*background: #2196F3;*/
}

.point-star {
  display: inline-block;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
}

.point-star-true {
  background: url("../../../public/img/star-win.svg") center no-repeat;
  background-size: contain;
}

.point-star-false {
  background: url("../../../public/img/star.svg") center no-repeat;
  background-size: contain;
}

@media screen and (max-width: 460px) {
  .control-panel {
    flex-direction: column;
    align-items: center;
    margin: 0;
    /*flex-wrap: wrap;*/
  }

  .control-panel__heading {
    margin: 0;
  }

  .control-panel__points {
    height: 30px;
  }
}
