.control-panel {
  display: flex;
  align-items: center;
  height: 35px;
}

.control-panel__heading {
  display: block;
  margin-left: 200px;
  font-size: 18px;
  /*background-color: cornflowerblue;*/
  /*width: 150px;*/
  /*height: 30px;*/
}

/*.btn-play,*/
.btn-repeat {
  justify-self: end;
}

.control-panel__points {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 600px;
}

.point-star {
  display: inline-block;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
}

.point-star-true {
  background: url("../../../public/img/star-win.svg") center no-repeat;
  background-size: contain;
}

.point-star-false {
  background: url("../../../public/img/star.svg") center no-repeat;
  background-size: contain;
}
